body{
	/*imagen de fondo*/
	background-image: url("../img/fondoAlcala.jpg");
	/*Centrar imagen de fondo*/
	background-position: center center;
	/*Para que no se repita imagen de fondo*/
	background-repeat: no-repeat;
	background-attachment: fixed;
    /* Reescala cambio del ancho de ventana del navegador */
	background-size: cover;

	font-family: 'Indie Flower', cursive;
	font-size: 20px;
  	text-shadow: 4px 4px 4px #aaa;

}
.foto{
	height: 100px;
    width: 100px;
    border: 5px solid #fff;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 80%;
    background-size: 100% auto;
}
.conten{
  	height: 150px;
  	/*IMPORTANTE*/
  	display: flex;
 	justify-content: center;
  	align-items: center;
}
.conten{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
background: #f0f9ff; /* Old browsers */
background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}	